body{
    /* margin: 0px; */
    background-color: white ;
    color:purple;
}
img{
    margin: 0;
    padding-left: 30px;
    padding-top: 100px;
    float: left;
}
.float{
    float: right;
}
p{
    color: black;
    padding-top: 5px;
}
h1{
    color: red;
    position: relative;
}
/* .logo{
    float: left;
} */
.menu-bar{
    float: right;

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: purple;
    position: static;
}
ul li{
    display: inline-flex;
    font-size: 30px;
    margin-right: 40px;
    padding-top: 30px;
}
ul li a:hover{
     /* background-color: yellow; */
     text-decoration: underline;
}
ol{
    margin: 0;
    padding: 0;
}
ol li{
    font-size: 20px;
    margin-left: 40px;
}
.column{
    position: sticky;
    width: 300px;
    display: inline-block;
    text-align: center;
  }
  .text-box{
      /* border: 2px solid blue; */
      border: 2px solid red;
      padding: 6px;
      margin: 20px;
  }
